<div class="container">

  <!-- search bar starts -->
  <div class="search-bar" style="height: 50px;">

    <div class="row">

      <div class="col-md-6 hidden-xs hidden-sm">

        <h1><strong>
            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Womenswear Collection</div>
          </strong> </h1>

      </div>
      <div class="col-md-6 col-lg-8 hidden-xs hidden-sm">

      </div>



    </div>
  </div>
  <br>
  <!-- filter container  starts -->
  <div>
    <div class="row" style="min-height: 854px;">
      <div class="col-md-4">
         <!-- categories -->
       <div id ="categories" (click)="categoriesFunction();">
         <div id="cat">+ Categories </div>
         <div class="categoriesbox" id ="categoriesbox">
           <ul>
             <li>
                All Women
             </li>
             <li>
                All Women
             </li>
             <li>
                All Women
             </li>
             <li>
                All Women
             </li>
             <li>
                All Women
             </li>
             <li>
                All Women
             </li>
             <li>
                All Women
             </li>
             <li>
                All Women
             </li>
           </ul>
         </div>
       </div>
       <!-- size -->
       <div id ="size" (click)="sizeFunction();">
          <div id="siz">+ Size </div>
          <div class="sizebox" id ="sizebox">
            <ul>
              <li>
                 XS
              </li>
              <li>
                 S
              </li>
              <li>
                 M
              </li>
              <li>
               L
              </li>
              <li>
                XL
              </li>
              <li>
                XXL
              </li>
             
            </ul>
          </div>
        </div>
        <!-- size -->

      </div>
      <div class="col-md-8"></div>
    </div>
  </div>
</div>